@charset "utf-8";

/**
* Stylesheet Index:
* =================
*
* 0. Reset
* 1. Imports
* 2. Elements
* 3. ID & Classes
* 4. Pseudoclasses
* 5. Media Queries
**/

/* 0. Reset */

/* 1. Imports */

/* 2. Elements */
html {
	background-color: #F6F4EC;
}

body{
	background: -webkit-linear-gradient(#D7D3C8, #F6F4EC);
	background: -o-linear-gradient(#D7D3C8, #F6F4EC);
	background: -moz-linear-gradient(#D7D3C8, #F6F4EC);
	background: linear-gradient(#D7D3C8, #F6F4EC);
	margin: 0;
	overflow-x: hidden;
}

/* 3. ID & Classes */

#mozTab {
		display: block;
		margin-left: 450px;
		width: 100%;

	}

/* 4. Pseudoclasses */

/* 5. Media Queries */
@media only screen and (min-width : 801px) {
   /* Styles for 1*/
	#centfix{
		max-width: 800px; 
		margin: 0 auto;
	}
	#searchMe{
		display: block;
		margin: 20px auto;
		width: 786px;
	}

}
@media only screen and (max-width : 768px) {
	#searchMe{
		display: block;
		margin: 20px auto;
		width: 90%!important;
	}
}

@media only screen and (max-width : 968px) {
	#mozTab{
		display: block;
		margin-left: 550px;
		width: 90%!important;
	}
}

